:root[data-theme="light"] {
  --text: hsl(0, 0%, 0%);
  --background: hsl(200, 60%, 97%);
  --background-transparent: hsl(200, 60%, 97%, 0.8);
  --primary: hsl(199, 62%, 25%);
  --secondary: hsl(200, 65%, 90%);
  --accent: hsl(199, 63%, 50%);
  --error: hsl(0, 50%, 50%);
}
:root[data-theme="dark"] {
  --text: hsl(0, 0%, 100%);
  --background: hsl(200, 60%, 3%);
  --background-transparent: hsl(200, 60%, 3%, 0.8);
  --primary: hsl(199, 62%, 75%);
  --secondary: hsl(200, 65%, 10%);
  --accent: hsl(199, 63%, 50%);
  --error: hsl(0, 60%, 60%);
}

*,
*::before,
*::after {
  margin: 0;
}

input {
  font: inherit;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--text);
  position: relative;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}

.theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.theme-toggle button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--text);
}

.hidden {
  display: none;
}

.section-image {
  background: center / cover no-repeat
    url("./assets/christopher-burns-Kj2SaNHG-hg-unsplash.jpg");
  position: relative;
  display: flex;
  justify-content: center;
}

.logo {
  background-color: var(--background-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  gap: 0.5rem;
  position: absolute;
  top: 20%;
  width: 100%;
}

svg {
  fill: var(--text);
  width: clamp(2rem, 4vw, 4rem);
}

.name {
  font-family: "Comfortaa", sans-serif;
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: bold;
}

.section-image p {
  font-size: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 1rem;
}

.section-image p,
.section-image a,
.section-image a:visited {
  color: hsl(0, 0%, 100%);
}

.section-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  gap: 2rem;
  max-width: 800px;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-container label {
  font-weight: bold;
}

.input-container input {
  color: var(--text);
  background-color: var(--secondary);
  border: none;
  padding: 1rem;
  border-radius: 4px;
}

.input-container input:focus {
  outline: 1px solid var(--accent);
}

.invalid {
  outline: 1px solid var(--error);
}

.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-error {
  color: var(--error);
  font-size: 0.75rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input[type="submit"] {
  color: var(--secondary);
  background-color: var(--accent);
  border: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 4px;
  font-weight: bold;
  width: 100%;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: var(--primary);
}

.login a,
.login a:visited {
  color: var(--primary);
  text-decoration: none;
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 100vw;
  }
  .section-image {
    display: none;
  }
  .section-form {
    padding: 2rem;
  }
}
